@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
.App-header{
    background: hsla(276, 39%, 57%, 1);
    background: linear-gradient(360deg, hsla(276, 39%, 57%, 1) 0%, hsla(276, 74%, 55%, 1) 21%, hsla(237, 100%, 75%, 1) 89%, hsla(231, 100%, 78%, 1) 100%, hsla(210, 29%, 77%, 1) 100%);
    background: -moz-linear-gradient(360deg, hsla(276, 39%, 57%, 1) 0%, hsla(276, 74%, 55%, 1) 21%, hsla(237, 100%, 75%, 1) 89%, hsla(231, 100%, 78%, 1) 100%, hsla(210, 29%, 77%, 1) 100%);
    background: -webkit-linear-gradient(360deg, hsla(276, 39%, 57%, 1) 0%, hsla(276, 74%, 55%, 1) 21%, hsla(237, 100%, 75%, 1) 89%, hsla(231, 100%, 78%, 1) 100%, hsla(210, 29%, 77%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#9966BC", endColorstr="#9E36E1", GradientType=1 ); 
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(210, 205, 239);
  font-family: 'Roboto', sans-serif;}
#title{
  font-size: 80px;
}
.info{
  position: absolute;
  top: 20px;
  left: 50px;
}
.text{
  margin-left: 20px;
  font-size: 20px;
}

.info-screen {
  color: rgb(210, 205, 239);
  background-color: hsla(210, 29%, 77%, 1) 100% ;
  height: 180px;
  width: 400px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 2em;
  display: block;
}


.logo{
  width: 50%;
  height: 100%;
  position: absolute;
  left: 765px;
  top: 0px; 
  animation: slide-down 1s ease-in-out;
  background-image: url(./imgs/astronaut-animate.svg);
  background-size: 100%;
}
.buttonstart{
  top: 70%;
  left: 700px;
  position: absolute;
  border: 0;
  border-radius: 1em;
  padding: 2px;
  width: 100px;
}
.buttonstart:hover{
  background-color: rgb(217, 176, 255);
}
.openroutes {
  top: 70%;
  left: 100px;
  position: absolute;
  margin-top: 1rem;
  display: flex;
}

.openroutes a {
  text-decoration: none;
  color: rgb(240, 217, 240);
  padding: 1rem 4rem;
  border: 1px solid #6362623b;
  font-family: 'Orbitron', sans-serif;
  min-width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s ease-in-out;

 }
 a:hover {
  background-color: rgba(173, 176, 255, 0.958);
}


@keyframes slide-down{
  0% { opacity: 0; -webkit-transform: translateY(-100%); }   
  100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes slide-top {
  0% {
    transform: translateY(100%); 
  }
  100% {
    transform: translateY(0); 
  }
}

.login{
  align-items: center;
  position: absolute;
}
.viewlogin{
  background-color: rgba(73, 84, 93, 0.572);
  height: 500px;
  width: 600px;
  animation: slide-down 0.5s ease-in-out;
  border-radius: 2px;
  position: absolute;
  top: 150px;
  left: 475px;
}
.viewcadastro{
  background-color: rgba(73, 84, 93, 0.572);
  height: 500px;
  width: 600px;
  animation: slide-down 1s ease-in-out;
  border-radius: 2px;
  position: absolute;
  top: 150px;
  left: 475px;
}
.viewcadastro form{
  position: absolute;
  top: 150px;
  height: 30vh;  
}

.viewcadastro label{
  top: 25%;
  margin-left: 190px;
}
#enviar{
  margin-top: 20px;
  position: absolute;
  left: 305px;
  

}
#cadastrowin{
  margin-top: 50px;
  left: 50%;
  position: absolute;
}


h2{
  top: 20px;
  font-size: 40px;
  left: 710px;
  position: absolute;
  animation: slide-down 2.80s ease-in-out;

}
h3{
  top: 20px;
  font-size: 40px;
  left: 660px;
  position: absolute;
  animation: slide-down 1.5s ease-in-out;

}
.usuario{
  left: 185px;
  position: absolute;
  top: 180px;
  animation: slide-down 1s ease-in-out;
}
.createusuario{
  left: 185px;
  position: absolute;
  top: 120px;
  animation: slide-down 1s ease-in-out;
}

.senha{
  position: absolute;
  left: 185px;
  margin-left: 5px;
  top: 210px;
  animation: slide-down 1s ease-in-out;
}
.createusuario input{
  margin-left: 3px;
}
.rgsenha input{
  margin-left: 13px;
}
.rgsenha{
  position: absolute;
  left: 185px;
  margin-left: 5px;
  top: 150px;
  animation: slide-down 1s ease-in-out;
}
.checkpsw{
  position: absolute;
  left: 185px;
  margin-left: 5px;
  top: 180px;

  animation: slide-down 1s ease-in-out;
}
.checkpsw input{
  margin-left: 11px;
}
input{
  border-radius: 1em;
  border: none;
  animation: slide-down 1s ease-in-out;
  
}
.senha input{
  margin-left: 13px;
}
.usuario input{
  margin-left: 3px;
}
#submit{
  position: absolute;
  top: 280px;
  left: 255px;
  animation: slide-down 1s ease-in-out;
  width: 100px;
  height: 50px;
  border-radius:4%;
  border: none;
  color: rgb(210, 205, 239);
  background-color: rgba(92, 160, 152, 0.196);
}
#create{
  position: absolute;
  top: 300px;
  left: 250px;
  animation: slide-down 1s ease-in-out;
  width: 100px;
  height: 50px;
  border-radius:4%;
  border: none;
  color: rgb(210, 205, 239);
  background-color: rgba(92, 160, 152, 0.196);
}
#create:hover{
  background-color: #930e834c;
}
#rdclg{
  position: absolute;
  top: 80%;
  left: 220px;
}

@media (max-width: 1500px) {
  #title{
    font-size: 55px;
    left: 80%;
    
  }
  .btinfo{
    left: 0;
  }
  .info-screen{
    margin-left: 0;
    height: 20vh;
    width: 80vw;
  }
  .text{
    font-size: 15px;
  }
  .logo{
    height: 20vh;
    top: 35%;
    left: 50%;
    background-repeat: no-repeat;
  }
  .buttonstart{
    position: absolute;
    left: 40%;
  }
  .openroutes{
    left: 100px;
  }
  #cad{
    position: absolute;

  }
  #lg{
    top: 100px;
    position: absolute;
  }
  h2{
    left: 45%;
  }
  h3{
    left: 20%;
  }

  .viewlogin{
    border-radius: 5px;
    width: 90%;
    height: 80vh;
    left: 5%;
  }
  .viewcadastro{
    border-radius: 5px;
    width: 90%;
    height: 80vh;
    left: 5%;
  }
  
  .usuario{
    font-size: 45px;
    top: 35%;
  }
  .senha{
    font-size: 45px;
    top: 40%;
  }
  #submit{
    font-size: 45px;
     top: 50%;
     left: 35%;
     width: 35%;
    }
  

  
}
@media(max-width: 500px) {
  .viewlogin{
    top: 120px;
    border-radius: 5px;
  }
  .viewcadastro{
    top: 120px;
  }
  h2{
    left: 40%;
  }
  .usuario{
    left: 20%;
    font-size: 20px;
  }
  .senha{
    left: 20%;
    font-size: 20px;
   
  }
  #submit{
    left: 35%;
    font-size: 20px;
    }
    
   .viewcadastro label{
    margin-left: 80px;
   } 
  #enviar{
    left: 150px;
  }
}






























